HTTPReq/Resources/Schemas/Models/Users.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:Users="http://www.tibco.com/schemas/Files/Resources/Schemas/Models/Users.xsd"
	 targetNamespace="http://www.tibco.com/schemas/Files/Resources/Schemas/Models/Users.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Users">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id"/>
				<xs:element name="firstName"/>
				<xs:element name="lastName"/>
				<xs:element name="department"/>
				<xs:element name="nationality"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>